*{
    font-size: 20px;
}
body{
    background: url(https://images.wallpaperscraft.com/image/note_motivation_text_words_119310_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover cover;
    background-position: fixed center center ;
}
.contenedorFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap ;
}

.itemFlex{
    text-align: center;
    flex-grow: 1;
    width: 100%;
}

.buscador{
    width: 100%;
    height: 8vh;
    margin: auto;
    }

.buscador input{
    width: 80%;

}
.cien{
    min-width: 100%;
}
.setentaycinco{
    max-width: 75%;
}
.cincuenta{
    max-width: 55%;

}
.displayEjercicio{
    position: absolute;
    top: 9vh;
    background: #22222220;
    border-radius: 20px;
    width: 95vw;
    height: 90vh;
    padding: 20px;
    border: double 5px;
    animation: marcohue 10s linear infinite;
    
}
@keyframes marcohue{
    0%{
        border-color:   #f66 #fa0  ;    
    } 
        
    50%{        
        border-color:   #fa0 #f66;    
    }
    100%{
        border-color:   #f66 #fa0  ;    
    }
    }

.bancoSaldo{
    height: 20%;
}
.contenedorEjer{
    height: 100%;  
}
.bancoIzquierda{
    flex-basis: 45%;
    height: 100%;
    background: #ffffff99;
    margin: 5px;
}

.bancoCajaMensajes p{
    border-radius: 100px 400px;
    position: relative;
    width: 40vw;
    min-height: 20vh;
    text-align: start;
    font-size: 25px;
    margin: 30px auto;
    padding:10px 100px 10px 10px;
}
.bancoDerecha{
    flex-basis: 45%;
    height: 100%;
    background: #ffffff99;
    margin: 5px;
}


.bancoControles button{
    margin: 30px;
}
.bancoTabla{
    align-content: start;
    justify-content: left;
    padding: 10px;

}
.bancoTabla div{
    min-width: 23%;
    text-align: left;
}





/* Estilos en clases para agregar like boostrap */

.bgRo{
    background: linear-gradient(to right, #ff000055 , #ff000000) ; 
}
.bgAm{
    background: linear-gradient(to right, #ffff0055 , #ff000000) ; 
}
.bgAz{
    background: linear-gradient(to right, #0000ff55 , #ff000000) ; 
}
.bgVe{
    background: linear-gradient(to right, #00ff5555 , #ff000000) ; 
}



